.main-screen {
	background: url('~img/main-screen__bg.png') no-repeat;
	background-position: bottom right;
	padding-bottom: 12rem;
	padding-top: 10rem;
	@media screen and ( max-width: $large-tablet ) {
		padding-top: calc( 9rem - 2.5rem );
		padding-bottom: 20rem;
	}


	@media screen and ( max-width: $small-tablet ) {
		background-position: 50% bottom;
		background-size: 135rem auto;
		margin-bottom: -15rem;
	}
	&__title {
		color: #383A42;
		font-weight: 500;
		font-size: 3rem;
		line-height: 140%;
		margin-bottom: 3rem;
		@media screen and ( max-width: $large_tablet ) {
			font-size: 1.8rem;
			margin-bottom: 8rem;
		}
		span {
			color: $primary;
			font-weight: 800;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 152.6%;
		color: #646464;
		max-width: 50rem;
		margin-bottom: 3.5rem;
		@media screen and ( max-width: $large-tablet ) {
			font-size: 1.3rem;
			margin-bottom: 3rem;
		}
	}

	&__content {
		max-width: 65.5rem;
		.btn {
			max-width: 27rem;
			@media screen and ( max-width: $large_tablet ) {
				width: 100%;
			}
		}
	}

}